@import "../../variables.scss";

.header {
	width: 100%;
	box-shadow: 0 2px 3px rgba($color: #3c3c3c, $alpha: 0.25);
	display: flex;
	align-items: center;
	padding: 1rem 1rem;
	position: sticky;
	top: 0;
	background-image: linear-gradient(to right,rgba(9, 46, 32, 0.504),rgba(9, 46, 32, 0.972));
	color: whitesmoke;
	z-index: 10;

	.brandBox {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		.CollgelogoDiv{
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.collgeLogo{
			height: 60px;
			width: 60px;
		}

		.collgeLogo img{
			width: 100%;
		}
		.name {
			font-weight: bold;
			font-size: 1.5rem;
			letter-spacing: 2px;
		}
		.subHeading {
			font-size: 0.6rem;
			margin-top: -0.3rem;
		}
		.centerHead{
			display: flex;
			gap: 20px;
			width: 400px;
			padding: 3px;
			cursor: pointer;
			margin-left:10%;
		}
		.centerHead p:hover{
			color: rgb(251, 255, 0);
		}
		.logo{
			width: 100px;
			height: 100%;
		}

		.logo img{
			width: 100%;
		}
	}

	.nav {
		display: flex;
		padding: 0 20px;
		justify-content: flex-end;
		flex: 1;
		gap: 2rem;
		align-content: center;

		.filterIconWrapper,
		.cartIconWrapper,
		.userIconWrapper {
			height: 100%;
			width: fit-content;
			svg {
				height: 100%;
				width: auto;
				font-size: 2rem;
				cursor: pointer;
			}
		}

		.filterIconWrapper {
			display: none;

			@media screen and (max-width: map-get($map: $breakpoint, $key: "md")) {
				display: block;
			}
		}

		.cartIconWrapper {
			position: relative;

			.cartNumber {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -45%);
				font-size: 1.2rem;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
}

.CenterBOX{
	display: flex;
	align-items: center;
	color: red;
}
