@import "./variables.scss";

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
	font-family: "Product Sans";
	src: url("./Assets/Product\ Sans/Product Sans Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Product Sans";
	src: url("./Assets/Product\ Sans/Product Sans Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

// Add all the global styles here and it should be picked up by storybook componnets
button,
label,
input,
p,
select,
option {
	font-size: 1rem;
}

* {
	font-family: "Product Sans";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

body,
html {
	min-height: 100%;
	background: rgba($color: #eee, $alpha: 0.4);
}

.Link{
	text-decoration: none;
	color: white;
}


// LandingPage

.heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.catageroy{
	height: 500px;
	background-color: #aaffe862;
	padding: 20px;
}

.catageroy h1{
	padding: 20px 40px;
	color: #006A4E;
	font-size: 2.4rem;
}

.productCards{
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}
.cards{
	background-color: rgb(255, 255, 255);
	height: 350px;
	width: 260px;
	box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 0px 8px;
	border-radius: .6rem;
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
	color: green;
	cursor: pointer;
}

.cards:hover{
	box-shadow: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
}

.CardImg {
	height: 250px;
	width: 100%;
	overflow: hidden;
	position: relative; 
  }
  
  .CardImg img {
	width: 100%;
	transition: transform 0.6s ease; 
  }
  
  .CardImg img:hover {
	transform: scale(1.2); 
  }
  
.TextCard{
	height: 100px;
	padding: 10px;
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 2px;
	flex-direction: column;
}

.TextCard .Name{
	font-weight: 500;
	font-size: 1rem;
}
.TextCard .title{
	font-weight: 700;
	font-size: 1.4rem;
}
.TextCard .price{
	font-weight: 500;
	font-size: 1rem;
}

.footerSec {
	// background-image: url(./img/foot.png);
	background-color: gray;
	font-size: larger;
	color: rgb(255, 255, 255);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding: 20px 60px;
	padding-bottom: 20px;
  }
  
  
  .ContactUsFoot {
	width: 33%;
  }
  
  .copyright {
	padding-top: 10px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #000000;
	color: whitesmoke;
  }
  
  
  @media (max-width: 600px) {
	.footerSec {
	  gap: 40px;
	  flex-direction: column;
	  align-items: start;
	  padding: 80px 20px;
	}
  
	.ContactUsFoot {
	  width: 100%;
	}
  
	.copyright {
	  padding-top: 20px;
	}
  
	.Queary h1{
	  text-align: center;
	  font-size: 2rem;
	  text-transform: uppercase;
	}
  
	.CuerySEC {
	  flex-direction: column;
	}
	.subjectSecProL{
	  padding: 20px;
	}
	.SubName{
	  width: 60%;
	}
  }
  
  